<div id="about" class="container about section">
    <h1 class="chapter-page general-h1">About DSA Uganda</h1>
    <div class="general-body">
        <div><br></div>
        <div>Data Science Africa Uganda Chapter will replicate DSA at region/local chapters in Uganda to grow a pool of 
            Ugandans with data science and related skills/qualifications. 
            <br>
        </div>
        <div><br></div>
        <div>This comes at the right timing as NDPIII 2020/2021-2025/2026 has concretely identified  these skills and 
            qualifications as gaps  required to achieve Uganda’s National development.<br></div>
        <div><br></div>
        <div>DSA Uganda chapter will be instrumental in contributing to the NDP III target of creating 520,000 jobs 
            created annually.<br></div>
        <div><br></div>To learn more about the DSA Uganda program, visit <a
            href="{{site.baseurl}}/about.html">http://www.datascienceafrica.org{{site.baseurl}}/about.html</a>
    </div>
</div>