<div id="event_page" itemscope="" itemtype="http://schema.org/Event">
    <div class="chapter has-people-cards-v2">
        <button type="button" class="contact-us btn btn-primary btn-lg" data-toggle="modal"
            data-target="#contact-host-modal">
            <span class="icon-mail"> </span><span class="text">
                Contact Us
            </span>
        </button>
        <div class="modal fade" id="contact-host-modal" tabindex="-1" role="dialog"
            aria-labelledby="contact-host-modal">
            <div class="modal-dialog contact-host" role="document">
                <div class="modal-content">
                    <button type="button" class="icon-cancel-1" data-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <form class="contact-host container" method="post">
                            <input type="hidden" name="csrfmiddlewaretoken"
                                value="WpkaArbeqSuFAGJewlF0ILQ35kW8DUe7DoRbUpXg8YlcdVuqzkfs3HgNaw4eCFCB">
                            <span class="icon-mail header-icon"></span>
                            <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
                            <div class="row">
                                <p class="form-group">
                                    <input class="form-control" id="id_sender_name" name="sender_name"
                                        placeholder="First and Last Name">
                                </p>
                                <p class="form-group">
                                    <input class="form-control" id="id_sender_email" name="sender_email"
                                        placeholder="Your email address">
                                </p>
                                <p class="form-group">
                                    <textarea class="form-control" id="id_message_plaintext" name="message_plaintext"
                                        placeholder="Message"></textarea>
                                </p>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-action ladda-button" type="submit"
                                    data-style="expand-right"><span class="ladda-label">Send</span><span
                                        class="ladda-spinner"></span></button>
                            </div>
                        </form>
                        <div class="success container">
                            <div class="icon-success"></div>
                            <h4 class="modal-title">Message Sent!</h4>
                            <div class="row">
                                <p class="message">Your message has been successfully sent.</p>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-action" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>