<footer class="page-footer">
    <div class="container footer-top">
        <div class="col-md-4 left logo-footer-column">
            <a class="footer-brand footer-brand-svg" href="{{ site.baseurl }}">
                <img src="{{site.baseurl}}/assets/img/dsa-new-logo.png" alt="DSA Uganda logo">
            </a>
            <div class="footer-description"></div>
        </div>
        <div class="col-md-4 left quick-links">
            <h5>Quick Links</h5>
            <ul>
<!--                 <li><a href="/about" class="None">About DSA Uganda</a></li>
                <li><a href="/chapters/" class="None">Chapters</a></li> -->
                <li><a href="{{site.baseurl}}/events.html" class="None">Upcoming events</a></li>
            </ul>
        </div>
        <div class="col-md-4 left">
            <h5>Social</h5>
            <ul class="social-links">
                <li><a style="font-size: 20px; margin: 10px 0 5px 0;" class="social-button icon-twitter" href="https://twitter.com/dsa_Uganda" target="_blank"
                        rel="noopener noreferrer" title="Twitter"></a></li>
<!--                 <li><a class="social-button icon-linkedin"
                        href="#" target="_blank"
                        rel="noopener noreferrer" title="LinkedIn"></a></li> -->
                <li><a style="font-size: 20px; margin: 10px 10px 5px 10px;" class="social-button icon-youtube" href="https://www.youtube.com/channel/UCG_XDHclKZxP8MknQQYSw-g" target="_blank"
                        rel="noopener noreferrer" title="YouTube"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="site-info">

                    <div class="copyright">
                        © <script>new Date().getFullYear()>document.write(new Date().getFullYear());</script> DSA
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
