<div id="carousel-id-1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
<!--
        <div class="item active">
            <div class="background-image"
                style="background-image:  url({{ site.url }}{{ site.baseurl }}/assets/img/gallery/IMG_9633_1.jpg); background-color: #ddd;"
                role="img">
            </div>
            <div class="content" style="height: 500px">
-->
<!--
                <div class="content-inside banner-message">
                    <h2>Data Science Africa - Uganda Chapter</h2>
                    <p>Data Science Africa Launch: 5th August 2022</p>
                   <h4> <span>Theme: <b>Let us shape DSA Uganda, together, to what we want.</b> </span></h4>
                    <h4> <span>Venue: <b>National ICT Innovations Hub, Ministry of ICT and National Guidance, Nakawa</b></span></h4>
                    
                    
                             
                    
                    <a href="{{ site.url }}{{ site.baseurl }}/events/launch.html"
                                    class="btn btn-primary purchase-ticket">View Details</a>
                    
                    <div>
                        <ul class="social-links">
                            <li><a style="font-size: 30px; margin: 10px 0 5px 0;" class="social-button icon-twitter" href="https://twitter.com/dsa_Uganda"
                                    target="_blank" rel="noopener noreferrer" title="Twitter"></a></li>
                       
                            <li><a style="font-size: 30px; margin: 10px 10px 5px 10px;" class="social-button icon-youtube" href="https://www.youtube.com/channel/UCG_XDHclKZxP8MknQQYSw-g"
                                    target="_blank" rel="noopener noreferrer" title="YouTube"></a></li>
                        </ul>
                    </div>
                </div>
-->
<!--
            </div>
        </div>
-->
        <style>
        .content-inside{
            background-color:rgba(0,0,0,0.75);
            }
        </style>
        {% assign i = 0 %}
        {% for image in site.gallerylinks %}
        
        <!-- Begin slide       -->
        <div class="item {% if i==0 %} active {% endif %}">
            <div class="background-image"
                style="background-image:  url({{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ image.imagename }}); background-color: #ddd;"
                role="img">
            </div>
            <div class="content">
            <div class="carousel-caption" style="background-color:rgba(0,0,0,0.75);">
              <p>{{ image.datasubhtml }}</p>
            </div>
            </div>
<!--
            <div class="content" style="background-color:rgba(0,0,0,0.75);">
                <div class="content-inside banner-message">
                    <h2>Data Science Africa - Uganda Chapter</h2>
                    <p>{{ image.datasubhtml }}</p>
                </div>
            </div>
-->
        </div>
<!--  end slide      -->
            {% assign i = i | plus:1 %}      
          {% endfor %}

        
        
        
        
         <a class="pause carousel-control" href="#0" role="button">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            <span class="sr-only">Play/Pause</span>
        </a>
        <a class="left carousel-control" href="#carousel-id-1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-id-1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> 
    </div>
</div>
