<div id="upcoming-events" class="container section chapter">
    <h1 class="section-header general-h1">Upcoming Events</h1>
    <div class="general-body">
        <!-- {% for event in site.events %}
        <h2>
            <a href="{{ site.url }}{{site.baseurl}}{{ event.url }}">
                {{ event.name }} - {{ event.date }}
            </a>
        </h2>
        <p>{{ event.content | markdownify }}</p>
        {% endfor %} -->
        <ul class="event-list">
            {% assign today_date = 'now' | date: '%s' %}
            {% for event in site.events %}
                {% assign event_date = event.enddate | date: '%s' %}
                {% assign i = 0 %}
                {% if today_date < event_date %}
                    {% assign i = i | plus:1 %}
            <li class="row event ">
                <div class="col-md-12">
                    <div class="panel panel-default general-card">
                        <div class="panel-body clearfix">
                            <a href="{{ site.url }}{{site.baseurl}}{{ event.url }}"
                                class="picture __bds-thumbnail-roundness">
                                <img itemprop="image"
                                    src="{{site.baseurl}}{{event.photolink}}">
                            </a>
                            <div class="panel-picture-content">
                                <div class="date general-body--color">
                                    <strong>{{ event.date | date: "%B %-d, %Y" }}</strong>
                                    - <span>{{ event.title }}</span>
                                </div>
                                <h4 class="general-body--color">{{ event.name }}, {{ event.date | date: "%B %Y" }}</h4>
                                <div data-tags="" class="react-tags-root">
                                    <div class="MuiBox-root jss5 jss3 jss2 jss1">
                                        {% for event_tag in event.tags %}
                                        <div class="MuiChip-root" data-testid="chip"><span
                                                class="MuiChip-label">{{ event_tag }}</span></div>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                                <p class="description general-body--color">{{event.about}}</p>
                                <a href="{{ site.url }}{{ site.baseurl }}{{ event.url }}"
                                    class="btn btn-primary purchase-ticket">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
                {% endif %}
            {% endfor %}

            {% if i==0 %}
                There are no upcoming events at the moment. Please check again soon.
            {% endif %}
        </ul>
    </div>
</div>