---
layout: default
---
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">-->

<style type="text/css">
.live-icon {
  display: inline-block;
  position: relative;
  top: calc(50% - 5px);
  background-color: red;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 1;
}
.live-icon:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: live 2s ease-in-out infinite;
          animation: live 2s ease-in-out infinite;
  z-index: -1;
}

@-webkit-keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(255, 0, 0, 0);
  }
}

@keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(255, 0, 0, 0);
  }
}


.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.btnlive {
  display: block;
  font-weight: 700;
  position: relative;
  padding: 13px 25px;
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  color: #333;
  border-radius: 50px;
  border: 1px solid white;
  box-shadow: 0px 2px 0px #02679e;
  transition: all 0.2s;
  z-index: 1;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.btnlive:hover {
  transform: translateY(-5px);
  padding: calc(13px * 1.2) calc(25px * 1.2);
  padding-right: calc(22px * $btnPaddingScalePlus);
  background-color: white;
  border: none;
  box-shadow: 0px 5px 10px #0271ae;
}
.btnlive:hover > span:before {
  -webkit-animation: none;
          animation: none;
}
.btnlive:active {
  transform: translateY(0px);
  padding: calc(13px * 0.95) calc(25px * 0.95);
  box-shadow: inset 0px 2px 1px #02679e;
}

.btn_transparent {
  border: 0px;
  border-radius: 0px;
  padding: 13px 25px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  box-shadow: none;
}
.btn_transparent:hover {
  box-shadow: none;
  background-color: inherit;
}

.btn_live {
  padding-right: 22px;
}

small {
  position: absolute;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
  bottom: 2rem;
}
small b {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

@media only screen and (max-width: 500px) {
  .toolbar {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }

  .btnlive {
    width: 250px;
  }

  span.live-icon {
    position: absolute;
    right: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .btnlive {
    width: 100%;
  }
}
</style>

<div id="event_page" itemscope="" itemtype="http://schema.org/Event" >
    <hr class="event-separator">
    <div id="event-banner-container" class="jambotron responsive-event-banner" style="background-image:url({{site.baseurl}}{{ page.eventPhoto }}); background-position: right; background-repeat: no-repeat; border-bottom: 2px solid #008542; background-color: white;">
        <div class="color-overlay"></div>
        <div class="event-page container" >
            <div class="col-md-12 general-event-banner">
                <h1 class="event-title-heading">
                    <!-- <span class="font_banner2" itemprop="name">Pre-launch event, April 2021</span> -->
                    <span class="font_banner2" itemprop="name">{{ page.name }}, {{ page.date | date: "%B %Y" }}</span>
                </h1>
                <h2 class="city-date">
                    <a href="#" title="Data Science Africa - Uganda Chapter" class="event-chapter-title">DSA UG</a>
                    <div class="event-date-time">{{ page.date | date: "%B %-d" }}, {{ page.time }} ({{ page.timezone }})</div>
                </h2>
                <span itemprop="startDate" content="2021-04-27T12:30:00+00:00"></span>
                <span itemprop="endDate" content="2021-04-28T03:15:00+00:00"></span>
                <p class="event-short-description-on-banner">{{ page.about }}
                </p>
                {% if page.type == "launch" %}
                    <p class="event-short-description-on-banner"><b>Harsh Tag:</b> {{ page.harshtag }}
                </p>
                <p class="event-short-description-on-banner"> <b>Twitter:</b> {{ page.twitter }}
                </p>
                {% endif %}
                <aside id="react-root-event-tags">
                    <div class="MuiBox-root jss5 jss3 jss2 jss1 event-tags">
                        {% for event_tag in page.tags %}
                        <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span
                                class="MuiChip-label">{{ event_tag }}</span></div>
                        {% endfor %}
                    </div>
                </aside>
                
                
                <!-- partial:index.partial.html -->

  <a href="{{ page.registerLink }}" class="btn btn-primary btn_live">Click to Stream Live now<span class="live-icon"></span></a>

                <br><br>
                
                
                
                
                
<!--                <a class="btn btn-primary" href="{{ page.registerLink }}">Click to Register <i class="glyphicon glyphicon-edit"></i></a>
                <br><br>-->
                <div id="virtual-join-button-container" itemscope="" itemprop="location"
                    itemtype="http://schema.org/VirtualLocation">
                    <span itemprop="url" content="#"></span>
                </div>
                <div id="javascript-event-not-ready"></div>
            </div>
        </div>
    </div>
    {% if page.type != "launch" %}
    <div class="description-container unpurchased-virtual-no-info ">
        <div class="container">
            <h2 class="general-h1 event-description--title">Event Schedule</h2>
            
            
            <table class="presentations">
	      <thead>
		<tr>
		  <th><h4 class="text-center">Time</h4></th>
		  <th><h4 class="text-center">Presentation</h4></th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
              
		{% for talk in page.agenda %}
              <!--<pre> {{ talk | inspect}} </pre>-->
		{% include listtalk.html %}
		{% endfor %}
	      </tbody>	      
            </table>
            
            
            
            
            
          <!--  <div class="event-description general-body">
                <h2 class="center">📄 <b>Agenda (all times are in {{ page.timezone }})</b></h2>
                {% if page.agenda %}
                    {% for topic in page.agenda %}
                <h3>{{ topic[0] }}</h3>
                        {% for item in topic[1] %}
                <p>{{ item }}</p>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                <p class="center">No agenda available</p>
                {% endif %}
            </div> -->
        </div>
    </div>
    <div class="chapter has-people-cards-v2">
        <div class="hosts">
            <h1 class="event-page general-h1">
                Speakers
            </h1>
            <div class="people-cards">
                {% if page.speakers %}
                    {% for speaker in page.speakers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ speaker.image }}"
                        alt="{{ speaker.name}}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ speaker.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
<!--                    <a class="btn btn-secondary" href="#">View Profile</a>-->
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal{{ speaker.id }}">
  View Profile
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ speaker.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">{{ speaker.name }}</h5>
        
      </div>
      <div class="modal-body">
                    <center>
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ speaker.image }}"
                        alt="{{ speaker.name}}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
<!--
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
-->
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        {{ speaker.bio }}</p>
                    <br>
                    </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                </li>
                    {% endfor %}
                {% else %}
                <p>No speakers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts">
            <h1 class="event-page general-h1">
                Organizers
            </h1>
            <div class="people-cards">
                {% if page.organizers %}
                    {% for organizer in page.organizers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ organizer.image }}"
                        alt="{{ organizer.name }}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                    {% endfor %}
                {% else %}
                <p>No organizers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#hostsbios" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#hostsbios" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Partners
            </h1>
            <div class="container cards">
                
                {% if page.partners %}
                    {% for partner in page.partners %}
                        {% assign p = site.data.partners[partner] %}
                        {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }})" role="figure" class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" 
                            src="{{site.baseurl}}{{ p.image }}" 
                            onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!-- <span class="label">{{ p.name }}</span> -->
                </a>
                        {% endif %}   
                    {% endfor %}
                {% else %}
                    <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
    </div>
    {% else %}
    
    


    <div class="description-container unpurchased-virtual-no-info ">
        <div class="container">
            <div class="card-container-guest">
              <div class="photo-container">
                <div class="date">
                  <div class="day">05</div>
                  <div class="month">August</div>
                </div>
                <div class="image"></div>
              </div>
              <div class="info-container">
                <div class="event-name">
                  Guest of Honour. <br>DR. AMINAH ZAWEDDE 
                </div>
                <div class="event-location">
                  Permanent Secretary of the Ministry of ICT and National Guidance
                </div>
              </div>
              <div class="image-container">
                  <div class="image">
                    <img src="../assets/img/people/amina.jpeg" class="circle circle-shadow">
                  </div>
              </div>
            </div>
        </div>
        <div class="container launch">
            <h1>Background </h1>
        <p>Several Ugandan institutions are already harnessing data using Artificial Intelligence (AI) or simple analytics for decision making, developing new services and products, and ensuring quality customer service. It is also true that many Ugandans knowingly or unknowingly interact daily with AI-powered applications especially on their mobile phones. But on the other hand, many other Ugandans are not yet aware of the potential and benefits of leveraging data and using AI or Data Science. There are costs involved in the non-use of data, including making unwise decisions following gut feelings or instinct instead of evidence or insights derived from data.</p>
        
        <h1>About the <em>Launch</em></h1>
        <p>The launch is aimed at showcasing what is happening in the artificial intelligence (AI), data , data  science and innovation space in Uganda, but also to:
        </p>
        <ul>
            <li>bring together partners working in the data science space within the country drawn from government, private sector, academia, civil society and international organisations; </li>
            <li>increase interest, awareness and ownership in data science among stakeholders;
            </li>
            <li>to communicate the agenda of the local chapter so that the people can be aware of what is available on offer and stimulate discussion on the partnership.
            </li>
        </ul>
        
        <p>We are expecting more than 30 exhibitors drawn from government, academia, private sector, civil society and international organisations and around 150 participants. It is a hybrid event and many participants will be connecting online. </p>
        
        <h1>About Data Science Africa - <em>Uganda (DSAU)</em></h1>
        <p>DSAU is a local chapter of Data Science Africa (DSA). DSA is a network of data science professionals and enthusiasts focused on developing contextual data science solutions for African challenges. DSA has held ten week-long events (consisting of 3-day training and 2-day of workshop) in six countries, including  Uganda (2016, 2020), Kenya (2015, 2018), Tanzania (2017, 2022), Ethiopia (2019), Nigeria ( 2018), Ghana (2019), and South Africa (2021). Other programs include research grants (DSA Research Award 2019, African AI Research Awards - Junior Researchers and Early Career, visiting fellowships, and mentorship programmes.</p>
        <p>DSA Uganda will replicate DSA programmes but also introduce more as and when proposed and evaluated to meet the local needs. DSA Uganda has already convened four events attracting participation from over 28 academic institutions, 23 government MDAs, 26 private sector companies and 14 from other categories. DSA Uganda will unveil a roadmap for the coming six months at the launch that we would like you to be a part of
        </p>
        <p>DSA Uganda will replicate DSA programmes but also introduce more as and when proposed and evaluated to meet the local needs. DSA Uganda has already convened four events attracting participation from over 28 academic institutions, 23 government MDAs, 26 private sector companies and 14 from other categories. DSA Uganda will unveil a roadmap for the coming six months at the launch that we would like you to be a part of.
        </p>
        <p>Are you a data science professional,  enthusiast, or an organisation inspired to grow data science skills and their usage to contribute to Uganda's socio - economic transformation? , then please join us in DSAU to build a pool of next-generation Data scientists leveraging the high percentage of youth to grow employment, and spur local innovation.</p>
        
        <h1>Packages for <em>sponsorship</em></h1>
        
        <table>
            <thead>
            <tr>
                <td></td>
                <td colspan="4">Sponsorship Packages</td>
            </tr>
            <tr>
                <td></td>
                <td>Gold</td>
                <td>Sliver</td>
                <td>Bronze</td>
                <td>Ordinary</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Logo on Backdrop banner</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Guest of Honour Mention</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Pull banners in the room</td>
                <td>2</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Tear drops outside at the Venue</td>
                <td>4</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Logo on DSA Uganda website </td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Presentation slot</td>
                <td>15 min</td>
                <td>10 min</td>
                <td>5 min</td>
                <td>0 min</td>
            </tr>
            <tr>
                <td>Exhibition</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Sponsorship</td>
                <td>5, 000 USD</td>
                <td>2, 000 USD</td>
                <td>1,000 USD</td>
                <td>Free</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    
    <div class="description-container unpurchased-virtual-no-info ">
        <div class="container launch">
            <h1 class="">Event Schedule</h1>
            
            
            <table class="presentations">
	      <thead>
		<tr>
		  <th><h4 class="text-center">Time</h4></th>
		  <th><h4 class="text-center">Presentation</h4></th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
              
		{% for talk in page.agenda %}
              <!--<pre> {{ talk | inspect}} </pre>-->
		{% include listtalk.html %}
		{% endfor %}
	      </tbody>	      
            </table>
            
        </div>
        
    </div>
    <div class="chapter has-people-cards-v2">
        <div class="hosts">
            <h1 class="event-page general-h1">
                Speakers
            </h1>
            <div class="people-cards">
                {% if page.speakers %}
                    {% for speaker in page.speakers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ speaker.image }}"
                        alt="{{ speaker.name}}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ speaker.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
<!--                    <a class="btn btn-secondary" href="#">View Profile</a>-->
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal{{ speaker.id }}">
  View Profile
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ speaker.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">{{ speaker.name }}</h5>
        
      </div>
      <div class="modal-body">
                    <center>
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ speaker.image }}"
                        alt="{{ speaker.name}}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
<!--
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
-->
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        {{ speaker.bio }}</p>
                    <br>
                    </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                </li>
                    {% endfor %}
                {% else %}
                <p>No speakers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts">
            <h1 class="event-page general-h1">
                Organizers
            </h1>
            <div class="people-cards">
                {% if page.organizers %}
                    {% for organizer in page.organizers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ organizer.image }}"
                        alt="{{ organizer.name }}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                    {% endfor %}
                {% else %}
                <p>No organizers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#hostsbios" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#hostsbios" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Gold Sponsors
            </h1>
            <div class="container cards">
                
                {% if page.gold %}
                    {% for partner in page.gold %}
                        {% assign p = site.data.partners[partner] %}
                        {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }}); width:400px;" role="figure" class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" 
                            src="{{site.baseurl}}{{ p.image }}" 
                            onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!-- <span class="label">{{ p.name }}</span> -->
                </a>
                        {% endif %}   
                    {% endfor %}
                {% else %}
                    <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                bronze Sponsors
            </h1>
            <div class="container cards">
                
                {% if page.bronze %}
                    {% for partner in page.bronze %}
                        {% assign p = site.data.partners[partner] %}
                        {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }}); width:400px;" role="figure" class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" 
                            src="{{site.baseurl}}{{ p.image }}" 
                            onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
<!--                     <span class="label">{{ p.name }}</span> -->
                </a>
                        {% endif %}   
                    {% endfor %}
                {% else %}
                    <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <hr class="event-separator">
</div>
