---
layout: default
---


<div class="homepage-full-header">
    <div class="jumbotron carousel-container carousel-with-blurred-background Homepage-carousel"
        style="visibility: visible;">
        <div class="">
            {% include slider.html %}
        </div>
    </div>
    <div class="join-community global" id="join-community">
        <div class="container inner">
<!--
            <div class="wide btn-group-lg">
                <a href="https://forms.gle/XPfpHXxupFkL3CLL7" class="btn btn-lg btn-primary" target="_blank">Register to participate Virtually</a>
            </div>
-->
<!--             <div class="wide">
                <a href="https://forms.gle/ohjc5c7BGbLJASdv6" class="submit btn btn-primary" target="_blank">Become a speaker</a>
            </div> -->
        </div>
    </div>
</div>
<!--
<div class="main countdown">
  <h1>Countdown to the Launch</h1>
  <div class="countdown">
    <div>
      <span class="number months">00</span>
      <span>Months</span>
    </div>
     <div>
      <span class="number days">00</span>
      <span>Days</span>
    </div>
     <div>
      <span class="number hours">00</span>
      <span>Hours</span>
    </div>
     <div>
      <span class="number minutes">00</span>
      <span>Minutes</span>
    </div>
     <div>
      <span class="number seconds">00</span>
      <span>Seconds</span>
    </div>
  </div>
</div>
-->
           
<script type="text/javascript">
  
//const newDate = new Date('aug 05 22 07:00:00').getTime()
//const countdown = setInterval(() =>{
//  
//const date = new Date().getTime()
//const diff = newDate - date
//
//const month =  Math.floor((diff % (1000 * 60 * 60 * 24 * (365.25 / 12) * 365)) / (1000 * 60 * 60 * 24 * (365.25 / 12)))
//const days = Math.floor(diff % (1000 * 60 * 60 * 24 * (365.25 / 12)) / (1000 * 60 * 60 * 24))
//const hours =  Math.floor(diff % (1000 * 60 * 60 * 24) / (1000 * 60 * 60))
//const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60))
//const seconds = Math.floor((diff % (1000 * 60)) / 1000)
//
//      document.querySelector(".seconds").innerHTML = seconds < 10 ? '0' + seconds : seconds
//      document.querySelector(".minutes").innerHTML = minutes < 10 ? '0' + minutes :minutes
//      document.querySelector(".hours").innerHTML = hours < 10 ? '0' + hours : hours
//      document.querySelector(".days").innerHTML = days < 10 ? '0' + days : days
//      document.querySelector(".months").innerHTML = month < 10 ? '0' + month : month
//
//if(diff === 0){
//  clearInterval(countdown)
//        document.querySelector(".countdown").innerHTML = 'Happy Birthday Ahmed'
//}
//
//}, 1000)
    </script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


.main{
  height: 45vh;
  background-size: cover;
/*  background: url('https://i.ibb.co/jfLZFhm/Bitmap.png') no-repeat top center;*/
}

.countdown h1{
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  padding-top: 30px;
}

.countdown .countdown{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.countdown .countdown > div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.25);
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.countdown .number {
  font-weight: 500;
  font-size: 44px;
  color: #008542;
}

.countdown div span:last-of-type{
  font-size: 12px;
}

@media screen and (max-width:600px){
  .countdown h1{
    font-size: 40px;
  }
  .countdown .countdown{
    gap: 10px;
  }
  .countdown .countdown > div{
  width: 60px;
  height: 80px;
}
  
  .countdown .number {
  font-size: 34px;
}
}
    </style>
<br>
<main class="container">
<!--	<div class="h1 text-center" id="pageHeaderTitle">My Cards</div>-->
    
    
    
	<article class="postcard green">
		<a class="postcard__img_link" href="#">
<!--			<img class="postcard__img img-fluid" id="image1" height="200px" src="" alt="Image Title" />-->
            <img src="{{site.baseurl}}/assets/img/mission.png" class="postcard__img img-fluid">
		</a>
		<div class="postcard__text">
			<h1 class="postcard__title blue"><a href="#">Mission Statement</a></h1>
<!--
			<div class="postcard__subtitle small">
				<time datetime="2020-05-25 12:00:00">
					<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
				</time>
			</div>
-->
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt">We are an all-inclusive network of data scientists, enthusiasts, and organisations inspired to grow data science skills and their usage to contribute to Uganda's development aspirations (NDPIII)</div>
<!--
			<ul class="postcard__tagbox">
				<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
				<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
				<li class="tag__item play blue">
					<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
				</li>
			</ul>
-->
		</div>
	</article>
	<article class="postcard green">
		<a class="postcard__img_link" href="#">
<!--			<img class="postcard__img img-fluid" id="image2" height="400px" src="" alt="Image Title" />	-->
            <img src="{{site.baseurl}}/assets/img/objectives.png" class="postcard__img img-fluid">
		</a>
		<div class="postcard__text">
			<h1 class="postcard__title blue"><a href="#">Objectives</a></h1>
<!--
			<div class="postcard__subtitle small">
				<time datetime="2020-05-25 12:00:00">
					<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
				</time>
			</div>
-->
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt">
                <p>To create a forum for interaction amongst data scientists, enthusiasts, government, academia, UN, NGO, private sector, and civil society organisations keen on data science and its use for social good;</p>
                <p>To increase Uganda's data science capacity by raising awareness and stimulating interest through a pool of local case studies and training;</p>
                <p>To provide information and access to various data science resources and artifacts, including data, jobs, internships, scholarships and funding;</p>
                <p>To support the improvement of the policy and regulatory environment for data science in Uganda by inspiring new policies and/or amend and harmonize existing policies. These include policies around data access and sharing, data privacy, and issues of fairness and ethics.</p></div>
<!--
			<ul class="postcard__tagbox">
				<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
				<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
				<li class="tag__item play red">
					<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
				</li>
			</ul>
-->
		</div>
	</article>
	<article class="postcard green">
		<a class="postcard__img_link" href="#">
<!--			<img class="postcard__img img-fluid" id="image3" height="450px" src="" alt="Image Title" />-->
            <img src="{{site.baseurl}}/assets/img/activities.png" class="postcard__img img-fluid">
		</a>
		<div class="postcard__text">
			<h1 class="postcard__title blue"><a href="#">Proposed Activities</a></h1>
            
<!--
			<div class="postcard__subtitle small">
				<time datetime="2020-05-25 12:00:00">
					<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
				</time>
			</div>
-->
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt">
                <p>Regular data science meet-ups and convenings on topical issues including; data, techniques, technology, career guidance, policy and application-specific issues.</p>
<p>Capacity building events target all stakeholders, especially students and early career professionals, through workshops and short courses online and offline.</p>
<p>Hackathons, training of trainers, grant-writing, result presentation and management sessions.</p>
<p>Stakeholder engagements, including specific project planning and implementation meetings, ensure ownership and wholesome contribution to the local chapter's successful implementation.</p>
<p>Producing an annual state of data science report for Uganda.</p>
<p>Collaborative research and project implementation with the different stakeholders in the data science ecosystem of Uganda.</p>
<p>Data science consulting and advisory services.</p></div>
<!--
			<ul class="postcard__tagbox">
				<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
				<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
				<li class="tag__item play green">
					<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
				</li>
			</ul>
-->
		</div>
	</article>
	
</main>




<!--
<div class="mission-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Mission Statement</h1>
        <div class="general-body">
            We are an all-inclusive network of data scientists, enthusiasts, and organisations inspired to 
            grow data science skills and their usage to contribute to Uganda's development aspirations (NDPIII)
        </div>
        
        <div class="card ">
          <div class="card-header text-white bg-primary">
            <h1>Mission Statement</h1>
          </div>
          <div class="card-block">
            <h4 class="card-title">Unique title therapy</h4>
            <p class="card-text">We are an all-inclusive network of data scientists, enthusiasts, and organisations inspired to grow data science skills and their usage to contribute to Uganda's development aspirations (NDPIII)</p>
            
          </div>
        </div>
        
        
    </div>
</div>

<div class="objectives-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Objectives</h1>
        <div class="general-body">
            <ul>
                <li>To create a forum for interaction amongst data scientists, enthusiasts, government, 
                    academia, UN, NGO, private sector, and civil society organisations keen on data science 
                    and its use for social good;</li>
                <li>To increase Uganda's data science capacity by raising awareness and stimulating interest 
                    through a pool of local case studies and training;</li>
                <li>To provide information and access to various data science resources and artifacts, 
                    including data, jobs, internships, scholarships and funding;</li>
                <li>To support the improvement of the policy and regulatory environment for data science in 
                    Uganda by inspiring new policies and/or amend and harmonize existing policies. These 
                    include policies around data access and sharing, data privacy, and issues of fairness 
                    and ethics.</li>
            </ul>
        </div>
    </div> 

</div>

<div class="activities-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Proposed Activities</h1>
        <div class="general-body">
            <ul>
                <li>Regular data science meet-ups and convenings on topical issues including; data, techniques, 
                    technology, career guidance, policy and application-specific issues.</li>
                <li>Capacity building events target all stakeholders, especially students and early career 
                    professionals, through workshops and short courses online and offline.</li>
                <li>Hackathons, training of trainers, grant-writing, result presentation and management sessions.</li>
                <li>Stakeholder engagements, including specific project planning and implementation meetings, 
                    ensure ownership and wholesome contribution to the local chapter's successful implementation.</li>
                <li>Producing an annual state of data science report for Uganda.</li>
                <li>Collaborative research and project implementation with the different stakeholders in the data 
                    science ecosystem of Uganda.</li>
                <li>Data science consulting and advisory services.</li>
            </ul>
        </div>
    </div>

</div>
-->

<!--
<div class="roadmap-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Roadmap to the launch</h1>
        <div class="general-body">
            <img class="img img-responsive" src="{{site.baseurl}}/assets/img/dsau_roadmap_n.jpg"  alt="" >
        </div>
    </div>
    
</div>
-->




<!--
<div class="pricing-widget">
<h1 class="section-header little-margin-bottom general-widget-title general-h1">Sponsorship Packages</h1>
    
        <div class="general-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="description general-body--color">Choice of package naming: To promote tourism and increase awareness of endangered species in Uganda. Please click on the image for more information. Click on the sponsor button below in line with the sponsorship package of your choice</p>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Shoebill Stork</h3>
                    </div>
                    <div class="pricing-icon">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><img src="{{site.baseurl}}/assets/img/shoebill-stork.svg" height="70px"></a>
                        


                        
                        
                        
                        
                    </div>
                    <ul class="pricing-content">
                        <li>10 Slots</li>
                        <li>Logo on media <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Taged in social media posts <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Recognition at Launch <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Exhibition Space <i class="glyphicon glyphicon-remove"></i></li>
                    </ul>
                    <div class="price-value">
                        <span class="amount">$1,000 - $4,999</span>
                    </div>
                    <div class="pricingTable-signup">
                        <a href="#" style="color: #ffffff">Sponsor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">African Elephant</h3>
                    </div>
                    <div class="pricing-icon">
                        <a href="" data-toggle="modal" data-target="#exampleModal1"><img src="{{site.baseurl}}/assets/img/elephant.svg" height="70px"></a>
                        
      
                        
                        
                        
                        
                        
                        
                    </div>
                    <ul class="pricing-content">
                        <li>6 Slots</li>
                        <li>Logo on media <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Taged in social media posts <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Recognition at Launch <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Exhibition Space <i class="glyphicon glyphicon-ok"></i></li>
                    </ul>
                    <div class="price-value">
                        <span class="amount">$5,000 - $9,999</span>
                    </div>
                    <div class="pricingTable-signup">
                        <a href="#">Sponsor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Mountain Gorilla</h3>
                    </div>
                    <div class="pricing-icon">
                        <a href="#" data-toggle="modal" data-target="#exampleModal2"><img src="{{site.baseurl}}/assets/img/gorilla.svg" height="70px"></a>
                        
                
                        
                        
                        
                    </div>
                    <ul class="pricing-content">
                        <li>3 Slots</li>
                        <li>Logo on media <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Taged in social media posts <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Recognition at all events <i class="glyphicon glyphicon-ok"></i></li>
                        <li>Exhibition Space <i class="glyphicon glyphicon-ok"></i></li>
                    </ul>
                    <div class="price-value">
                        <span class="amount">$10,000 &amp; above</span>
                    </div>
                    <div class="pricingTable-signup">
                        <a href="#">Sponsor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
-->

        
    
        
<div class="team-widget">

    <div class="container">
        <h1 class="section-header little-margin-bottom general-widget-title general-h1">Interim Coordination Team</h1>
        <div class="general-body">
            <div class="people-cards">
                {% for organizer in site.data.interim_team %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ organizer.image }}"
                        alt="{{ organizer.name }}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>

{% include upcoming_events.html %}
{% include contact_us.html %}
{{ content }}


<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shoebill Stork</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                    <center>
                    <img itemprop="image"
                        src="{{site.baseurl}}/assets/img/shoebill-stork.svg" 
                        height="100px">
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">Shoebill Stork</h2>
                        <p class="people-card--title">Balaeniceps rex</p>
                        <p class="people-card--company">{{ Company }}</p>
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
<!--
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
-->
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Sites: </strong><br>
                        Lake Victoria, Lake Albert, Lake Kyoga, River Nile, Queen Elizabeth National Park, Lake Mburo National Park, Murchison Falls National Park</p>
                    <br>
                    </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


                  <!-- Modal -->
<div class="modal fade" id="exampleModal1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">African Elephant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                    <center>
                    <img itemprop="image"
                        src="{{site.baseurl}}/assets/img/elephant.svg"  
                         height="100px">
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">African Elephant</h2>
                        <p class="people-card--title">Loxodonta africana</p>
<!--                        <p class="people-card--company">Company </p>-->
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
<!--
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
-->
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Sites: </strong><br>
                        Murchison Falls National Park, Queen Elizabeth National Park, Kibale National Park, Kidepo Valley National Park, Bwindi Impenetrable National Park, Semuliki National Park, Toro-Semliki Wildlife Reserve</p>
                    <br>
                    </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


                        <!-- Modal -->
<div class="modal fade" id="exampleModal2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Mountain Gorilla</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                    <center>
                    <img itemprop="image"
                        src="{{site.baseurl}}/assets/img/gorilla.svg" 
                        height="100px">
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">Mountain Gorilla</h2>
                        <p class="people-card--title">Gorilla beringei</p>
<!--                        <p class="people-card--company">Company </p>-->
                        <!--{%if speaker.bio %}
                    <p> {{speaker.bio}}</p>
                        {% endif %} -->
                    </div>
<!--
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
-->
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Sites: </strong><br>
                        Mgahinga Gorilla National Park, Bwindi Impenetrable National Park</p>
                    <br>
                    </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    
                function randomUniqueNum(range, outputCount) {
                  let arr = []
                  for (let i = 1; i <= range; i++) {
                    arr.push(i)
                  }

                  let result = [];

                  for (let i = 1; i <= outputCount; i++) {
                    const random = Math.floor(Math.random() * (range - i));
                    result.push(arr[random]);
                    arr[random] = arr[range - i];
                  }

                  return result;
                }
                let arrayNames = randomUniqueNum(36, 3);
                var image1 = "{{site.baseurl}}/assets/img/WebsitePhotos/" + arrayNames[0] + ".jpg";
                var image2 = "{{site.baseurl}}/assets/img/WebsitePhotos/" + arrayNames[1] + ".jpg";
                var image3 = "{{site.baseurl}}/assets/img/WebsitePhotos/" + arrayNames[2] + ".jpg";
                //
                //console.log(image2);
                
                
                document.getElementById("image1").src = image1;
                document.getElementById("image2").src = image2;
                document.getElementById("image3").src = image3;
    
                
</script>    