---
layout: default
---

<div id="event_page" itemscope="" itemtype="http://schema.org/Event">
    <hr class="event-separator">
    <div id="event-banner-container" class="jumbotron responsive-event-banner">
        <div class="color-overlay"></div>
        <div class="event-page container">
            <div class="col-md-12 general-event-banner">
                <h1 class="event-title-heading">
                    <!-- <span class="font_banner2" itemprop="name">Pre-launch event, April 2021</span> -->
                    <span class="font_banner2" itemprop="name">{{ page.name }}, {{ page.date | date: "%B %Y" }}</span>
                </h1>
                <h2 class="city-date">
                    <a href="#" title="Data Science Africa - Uganda Chapter" class="event-chapter-title">DSA UG</a>
                    <div class="event-date-time">{{ page.date | date: "%B %-d" }}, {{ page.time }} ({{ page.timezone }})</div>
                </h2>
                <span itemprop="startDate" content="2021-04-27T12:30:00+00:00"></span>
                <span itemprop="endDate" content="2021-04-28T03:15:00+00:00"></span>
                <p class="event-short-description-on-banner">{{ page.about }}
                </p>
                <aside id="react-root-event-tags">
                    <div class="MuiBox-root jss5 jss3 jss2 jss1 event-tags">
                        {% for event_tag in page.tags %}
                        <div class="MuiChip-root MuiChip-outlined" data-testid="chip"><span
                                class="MuiChip-label">{{ event_tag }}</span></div>
                        {% endfor %}
                    </div>
                </aside>
                <div id="virtual-join-button-container" itemscope="" itemprop="location"
                    itemtype="http://schema.org/VirtualLocation">
                    <span itemprop="url" content="#"></span>
                </div>
                <div id="javascript-event-not-ready"></div>
            </div>
        </div>
    </div>
    <div class="description-container unpurchased-virtual-no-info ">
        <div class="container">
            <h2 class="general-h1 event-description--title">About this event</h2>
            <div class="event-description general-body">
                <h2 class="center">📄 <b>Agenda (all times are in {{ page.timezone }})</b></h2>
                {% if page.agenda %}
                    {% for topic in page.agenda %}
                <h3>{{ topic[0] }}</h3>
                        {% for item in topic[1] %}
                <p>{{ item }}</p>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                <p class="center">No agenda available</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="chapter has-people-cards-v2">
        <div class="hosts">
            <h1 class="event-page general-h1">
                Speakers
            </h1>
            <div class="people-cards">
                {% if page.speakers %}
                    {% for speaker in page.speakers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ speaker.image }}"
                        alt="{{ speaker.name}}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ speaker.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ speaker.name }}</h2>
                        <p class="people-card--title">{{ speaker.title }}</p>
                        <p class="people-card--company">{{ speaker.company }}</p>
                    </div>
                    <a class="btn btn-secondary" href="#">View Profile</a>
                </li>
                    {% endfor %}
                {% else %}
                <p>No speakers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
        <div class="hosts">
            <h1 class="event-page general-h1">
                Organizers
            </h1>
            <div class="people-cards">
                {% if page.organizers %}
                    {% for organizer in page.organizers %}
                <li class="people-card general-card" itemprop="performer" itemscope=""
                    itemtype="http://schema.org/Person">
                    <img itemprop="image"
                        src="{{site.baseurl}}{{ organizer.image }}"
                        alt="{{ organizer.name }}" 
                        onerror="this.onerror = null;
                                 this.src = '{{site.baseurl}}/assets/img/placeholder_avatar.png';" 
                        class="people-card--avatar">
                    <a href="{{ organizer.twitter }}" rel="nofollow" class="icon-twitter people-card--twitter"></a>
                    <div class="people-card--text">
                        <h2 itemprop="name" class="people-card--name">{{ organizer.name }}</h2>
                        <p class="people-card--title">{{ organizer.title }}</p>
                    </div>
                </li>
                    {% endfor %}
                {% else %}
                <p>No organizers available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <img class="picture" src="" alt=" ()">
                            <h4 class="name"></h4>
                            <h5 class="company"></h5>
                            <div class="bio"></div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#hostsbios" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#hostsbios" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="hosts event-partners">
            <h1 class="event-page general-h1">
                Partners
            </h1>
            <div class="container cards">
                
                {% if page.partners %}
                    {% for partner in page.partners %}
                        {% assign p = site.data.partners[partner] %}
                        {% if p %}
                <a class="{{ partner }} card-container" href="#" rel="nofollow" target="_blank">
                    <div style="background-image: url({{site.baseurl}}{{ p.image }})" role="figure" class="card">
                        <!-- this is a helper, only needed because "background-image" did not fire a "onerror" event -->
                        <img style="display: none;" 
                            src="{{site.baseurl}}{{ p.image }}" 
                            onerror="var fallbackImage = 'url({{site.baseurl}}/assets/img/partners/logo-placeholder.jpeg)'; 
                                     var textSpan = document.createElement('p')
                                     textSpan.textContent = '{{ p.name }}';
                                     document.querySelector('.{{ partner }} .card').classList.add('fallback-image');
                                     document.querySelector('.{{ partner }} .card').style.backgroundImage = fallbackImage;
                                     document.querySelector('.{{ partner }} .card').appendChild(textSpan)">
                    </div>
                    <!-- <span class="label">{{ p.name }}</span> -->
                </a>
                        {% endif %}   
                    {% endfor %}
                {% else %}
                    <p>No partners available</p>
                {% endif %}
            </div>
            <div class="modal fade and carousel slide modal-carousel" id="hostsbios" tabindex="-1">
                <div class="carousel-inner">
                </div>
            </div>
        </div>
    </div>
    <hr class="event-separator">
</div>